<div id="main-loading">

    <!-- This is section you can modify to customize the loading page -->
    <div id="app-loading"></div>
    <div id="loading-gif"></div>

    <!-- //////////////////    END    ////////////////////////////// -->
    <div id="ie-note" style="display:none;">
        <div class="hint-title">Error</div>
        <div class="hint-img">Your browser is currently not supported.</div>
        <p class="hint-text">
            <span>
                Please note that creating presentations is not supported in Internet Explorer versions 6, 7.
            </span>
            <br>
            <span>
                We recommend upgrading to the latest Internet Explorer, Google Chrome, or Firefox.
            </span>
            <br>
            <span>
                If you are using IE 8 or later, make sure you turn off "Compatibility View".
            </span>
        </p>
    </div>
</div>
<div id="main-page">
    <div id="jimu-layout-manager"></div>
</div>