
.InputProy
{
 /* font-size: 12px;*/
  width: 130px;
  /*margin-left:10px;*/
  /*height: 150px;*/
}

.combosProy
{
 /* font-size: 12px;*/
  width: 110px;
  /*height: 150px;*/
}



 .TableProy {
     display: table;
 }
 .ProyHeading {
     display: table-row;
     /*font-weight: bold;*/
     text-align: center;
 }
 .ProyRow {
     display: table-row;
 }
 .ProyCell {
     display: table-cell;
     /*border: solid;*/
     border-width: thin;
     padding-left: 5px;
     padding-right: 5px;
 }
 #myGrid {
    font-size: 11px !important;
    font-family: Arial Narrow !important;
    padding: 1px 1px 1px 1px !important;
    word-wrap: normal !important;
}